<h1>ANAGRAM GENERATOR</h1>

<caption>Enter a word.<em>Only 3 letter words!</em></caption>
<form action="/" method="post" class="form">
	<div class="form-group">
		<label for="word" class="input">Enter a word</label>
		<input type="text" name="word">
	</div>
	<button type="submit" class="btn btn-success" value="submit">Show the Anagrams!</button>
</form>