<h1>ANAGRAM GENERATOR</h1>

<br>
<blockquote>
	<p>An anagram is a type of word play, the result of rearranging the letters of a word or phrase to produce a new word or phrase, using all the original letters exactly once; for example, the word anagram can be rearranged into nag-a-ram. Someone who creates anagrams may be called an "anagrammatist."</p>
	<footer>Wikipedia</footer>
</blockquote>

<div class="row">
	<% if @error.present? %>
  		<p class="error"><%= "#{@error}" %></p>
	<% end %>
</div>

<form action="/" method="post" class="form">
	<div class="form-group">
		<label for="word" class="input">Enter a word</label>
		<input type="text" name="word">
	</div>
	<button type="submit" class="btn btn-success" value="submit">Show the Anagrams!</button>
</form>

<div class="group group-inline"><a href="/words/new"><h3>Add a new word</h3></a>
<a href="/words/index"><h3>Word List</h3></a></div>
